<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default}">

<head>
  <th:block layout:fragment="css">
      <style>
         #main{
            width:100%;
            max-width:400px;
            margin: 100px auto;
        }
        .error{ color:red; font-size:14px; }
      </style>
  </th:block>
  <th:block layout:fragment="script">
      <script>
        $(function(){
          $("input[name=userId]").on("keyup",btEnable);
          $("input[name=password]").on("keyup",btEnable);
        });
        function btEnable(){
          var id = $("input[name=userId]").val();
          var pw = $("input[name=password]").val();
          if( id != '' && pw != ''){
              $("#loginBt").attr("disabled",false);
          }else{
              $("#loginBt").attr("disabled",true);
          }
        }

      </script>

  </th:block>
</head>
<div layout:fragment="main" id="main">

  <form method="post" action="/members/signIn" class="row g-3">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">아이디</label>
      <input type="text" name="userId" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="inputPassword4">
    </div>

    <p th:if="${loginErrorMsg}" class="error mb-3" th:text="${loginErrorMsg}"></p>

    <div class="col-12">
      <button type="submit" class="btn btn-primary" id="loginBt" disabled>Sign in</button>
    </div>
  </form>

  <div class="btn-group mt-4" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-outline-primary">아이디찾기</button>
    <button type="button" class="btn btn-outline-primary">비밀번호찾기</button>
  </div>

</div>

</html>